<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span jhiTranslate="icodeApp.person.detail.title">Person</span> {{ person.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="icodeApp.person.fullName">fullName</span></dt>
                <dd>
                    <span>{{ person.fullName }}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="icodeApp.person.address">address</span></dt>
                <dd>
                    <span>{{ person.address }}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="icodeApp.person.phoneNumber">phoneNumber</span></dt>
                <dd>
                    <span>{{ person.phoneNumber }}</span>
                </dd>
            </dl>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="icodeApp.person.email">email</span></dt>
                <dd>
                    <span>{{ person.email }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/table-1', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
